<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373492803996-klv5eivd8vldniegi9bq1q4ga545b8u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373492803996-klv5eivd8vldniegi9bq1q4ga545b8u4</string>
	<key>API_KEY</key>
	<string>AIzaSyD0StQ9EaebjTjGPjSL5cQCv4Zg3Shd6c8</string>
	<key>GCM_SENDER_ID</key>
	<string>373492803996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmf.testapp</string>
	<key>PROJECT_ID</key>
	<string>coexist-gaming</string>
	<key>STORAGE_BUCKET</key>
	<string>coexist-gaming.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373492803996:ios:69c2c00eef7864910dc059</string>
	<key>DATABASE_URL</key>
	<string>https://coexist-gaming.firebaseio.com</string>
</dict>
</plist>